.prayers {
  color: $color-text-light;
  font-size: 18px;

  &.background {
    @extend %no-background;
  }

  .prayers-widget {
    background: $color-bg-light;
    border-radius: $border-radius;
    padding: 5px;
  }

  .prayers-text {
    background: rgba(200, 200, 200, 0.1);
    border: 1px solid $color-bg-light;
    margin: 3px;
    padding: 6px;
    border-radius: $border-radius;

    &.next-prayer {
      border-color: rgba($color-black, 0.5);
      background: rgba(200, 200, 200, 0.8);
      color: rgba($color-black, 0.8);
    }
  }
}
